@font-face {
    font-family: "inter-regular";
    src: url(../assets/fonts/Inter-Regular.ttf);
}
@font-face {
    font-family: "inter-bold";
    src: url(../assets/fonts/Inter-Bold.ttf);
}


*{
    box-sizing: border-box;
    margin: 0px ;
}

body{
    background-image: url('../assets/images/background.svg');
    background-size: 100em;
    background-position: -5em;
    background-repeat: no-repeat;
    height: 19em;
    }

.home{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.frente{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.txt{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;


    font-family: 'LexendD';
}

.botao{
    
}

h3{
    font-size: 2.2em;
    margin-bottom: 1em;
}

img{
    height: 13em;
}
a{  
    color: #095986;
    background-color: white;
    border: 2px solid rgb(185, 185, 185);  
    font-size: 1.1em;
    font-family: 'inter-regular';  
    border-radius: 2.2em;
     text-decoration: none;
     padding: 1em;
     box-shadow: 2px 2px 2px 2px rgb(231, 231, 231);
}

a:hover{
    background-color: #095986;
    color: white;
    border: 0px;  
    transition: 0.3s;
}
